<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) %yellow(%logger{15}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="spp.platform.util.LazyInitRollingFileAppender">
        <file>logs/spp-platform.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/spp-platform-%d{"yyyy-MM-dd"}.%i.log</fileNamePattern>

            <!-- Rollover daily and when the file reaches 10 MegaBytes, keep the last 14 days  -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>14</maxHistory>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="spp.platform" level="TRACE"/>
    <logger name="spp.service" level="TRACE"/>
    <logger name="spp.processor" level="TRACE"/>

    <logger name="io.netty" level="WARN"/>
    <logger name="io.vertx" level="WARN"/>
    <logger name="graphql.GraphQL" level="WARN"/>
    <logger name="graphql" level="WARN"/>
    <logger name="graphql.execution" level="WARN"/>
    <logger name="notprivacysafe.graphql" level="WARN"/>
    <logger name="notprivacysafe.graphql.execution" level="WARN"/>
    <logger name="org.zeroturnaround" level="WARN"/>
</configuration>