[submodule "documentation"]
	path = documentation
	url = https://github.com/sourceplusplus/documentation
[submodule "interfaces/marker/SourceMarker"]
	path = interfaces/marker/SourceMarker
	url = https://github.com/sourceplusplus/SourceMarker
[submodule "protocol"]
	path = protocol
	url = https://github.com/sourceplusplus/protocol
[submodule "probes/jvm"]
	path = probes/jvm
	url = https://github.com/sourceplusplus/probe-jvm
[submodule "probes/python"]
	path = probes/python
	url = https://github.com/sourceplusplus/probe-python
[submodule "interfaces/cli"]
	path = interfaces/cli
	url = https://github.com/sourceplusplus/interface-cli
