[submodule "protocol"]
	path = protocol
	url = https://github.com/sourceplusplus/protocol
	master = master
[submodule "probes/jvm"]
	path = probes/jvm
	url = https://github.com/sourceplusplus/probe-jvm
[submodule "probes/python"]
	path = probes/python
	url = https://github.com/sourceplusplus/probe-python
[submodule "interfaces/cli"]
	path = interfaces/cli
	url = https://github.com/sourceplusplus/interface-cli
[submodule "interfaces/jetbrains"]
	path = interfaces/jetbrains
	url = https://github.com/sourceplusplus/interface-jetbrains
[submodule "docker/e2e/example-web-app"]
	path = docker/e2e/example-web-app
	url = https://github.com/sourceplusplus/example-web-app
[submodule "interfaces/booster-ui"]
	path = interfaces/booster-ui
	url = https://github.com/sourceplusplus/interface-booster-ui
