[submodule "documentation"]
	path = documentation
	url = https://github.com/sourceplusplus/documentation
[submodule "protocol"]
	path = protocol
	url = https://github.com/sourceplusplus/protocol
[submodule "probes/jvm"]
	path = probes/jvm
	url = https://github.com/sourceplusplus/probe-jvm
[submodule "probes/python"]
	path = probes/python
	url = https://github.com/sourceplusplus/probe-python
[submodule "interfaces/cli"]
	path = interfaces/cli
	url = https://github.com/sourceplusplus/interface-cli
[submodule "interfaces/jetbrains"]
	path = interfaces/jetbrains
	url = https://github.com/sourceplusplus/interface-jetbrains
[submodule "processors/instrument"]
	path = processors/instrument
	url = https://github.com/sourceplusplus/processor-instrument
[submodule "processors/log-summary"]
	path = processors/log-summary
	url = https://github.com/sourceplusplus/processor-log-summary
