<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) %yellow(%logger{15}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="spp.platform" level="DEBUG"/>
    <logger name="spp.service" level="DEBUG"/>
    <logger name="spp.processor" level="DEBUG"/>

    <logger name="io.netty" level="WARN"/>
    <logger name="io.vertx" level="WARN"/>
    <logger name="graphql.GraphQL" level="WARN"/>
    <logger name="graphql" level="WARN"/>
    <logger name="graphql.execution" level="WARN"/>
    <logger name="notprivacysafe.graphql" level="WARN"/>
    <logger name="notprivacysafe.graphql.execution" level="WARN"/>
    <logger name="org.zeroturnaround" level="WARN"/>
</configuration>
