version: '3.3'
services:
  spp-platform:
    image: sourceplusplus/spp-platform:latest
    container_name: spp-platform
    hostname: spp-platform
    ports:
      - "5450:5450"
      - "5455:5455"
      - "11800:11800"
      - "12800:12800"
      - "443:443"
      - "80:80"
    environment:
      - SPP_JWT_ENABLED=false
      - SPP_HTTP_SSL_ENABLED=false
