version: '3.3'
services:
  redis:
    image: redis:6.2.1
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"
  spp-platform:
    container_name: spp-platform
    hostname: spp-platform
    ports:
      - "5107:5107"
      - "5450:5450"
      - "5455:5455"
      - "11800:11800"
      - "12800:12800"
      - "443:443"
      - "80:80"
    build:
      context: .
      dockerfile: Dockerfile-spp-platform
    environment:
      - SPP_LOGGING_LEVEL=trace
      - SPP_OAP_HOST=skywalking-oap
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5107
  skywalking-oap:
    container_name: skywalking-oap
    hostname: skywalking-oap
    ports:
      - "5106:5106"
    build:
      context: .
      dockerfile: Dockerfile-skywalking-oap
    environment:
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5106
      - SW_OAL_ENGINE_DEBUG=Y
      - SW_ENABLE_UPDATE_UI_TEMPLATE=true
      - SW_TELEMETRY=prometheus
      - SW_TELEMETRY_PROMETHEUS_HOST=skywalking-oap
      - SW_PROMETHEUS_FETCHER=default
      - SW_PROMETHEUS_FETCHER_ENABLED_RULES=self
  spp-example-webapp:
    container_name: spp-example-webapp
    hostname: spp-example-webapp
    ports:
      - "5105:5105"
    build:
      context: .
      dockerfile: Dockerfile-spp-example-webapp

#networks:
#  default:
#    driver: bridge
#    ipam:
#      config:
#        - subnet: 172.16.57.0/24
