version: '3.3'
services:
  redis:
    image: redis:7.0.5
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"
  spp-platform:
    container_name: spp-platform
    hostname: spp-platform
    ports:
      - "5106:5106"
      - "11800:11800"
      - "12800:12800"
      - "443:443"
      - "80:80"
    build:
      context: .
      dockerfile: Dockerfile-spp-platform
    environment:
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5106
      - SPP_HTTP_PORT=443,12800
      - SPP_JWT_ENABLED=true
      - SPP_HTTP_SSL_ENABLED=true
      - SPP_HTTP_REDIRECT_TO_HTTPS=true
      - SPP_GRPC_SSL_ENABLED=true
      - SPP_CLIENT_ACCESS_ENABLED=true
      - SPP_CLIENT_ACCESS_ID=test-id
      - SPP_CLIENT_ACCESS_SECRET=test-secret
      - SPP_LOGGING_LEVEL=trace
      - SPP_STORAGE=redis
      - SPP_STORAGE_HOST=redis
      - SW_OAL_ENGINE_DEBUG=Y
      - SW_ENABLE_UPDATE_UI_TEMPLATE=true
      - SW_TELEMETRY=prometheus
      - SW_TELEMETRY_PROMETHEUS_HOST=spp-platform
      - SW_PROMETHEUS_FETCHER=default
      - SW_PROMETHEUS_FETCHER_ENABLED_RULES=self
  spp-example-webapp:
    container_name: spp-example-webapp
    hostname: spp-example-webapp
    ports:
      - "5105:5105"
    build:
      context: .
      dockerfile: Dockerfile-spp-example-webapp
