name: Build platform

on:
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.svg'
  workflow_dispatch:

env:
  GRADLE_OPTS: -Xmx5g -Xms5g

jobs:
  verify-mono:
    if: ${{ !contains(github.event.pull_request.head.ref, '#docs') && !(startsWith(github.event.head_commit.message, 'Merge pull request') && contains(github.event.head_commit.message, '#docs')) }}

    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-verify-platform
      cancel-in-progress: true

    outputs:
      version: ${{ steps.properties.outputs.version }}
      release_version: ${{ steps.properties.outputs.release_version }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Verify code style
        run: ./gradlew --no-daemon detekt

      - name: Verify license headers
        run: ./gradlew --no-daemon spotlessCheck

  build-platform:
    if: ${{ !contains(github.event.pull_request.head.ref, '#docs') && !(startsWith(github.event.head_commit.message, 'Merge pull request') && contains(github.event.head_commit.message, '#docs')) }}

    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-build-platform
      cancel-in-progress: true

    outputs:
      version: ${{ steps.properties.outputs.version }}
      release_version: ${{ steps.properties.outputs.release_version }}
    steps:
      - uses: docker-practice/actions-setup-docker@master
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Export Properties
        id: properties
        shell: bash
        run: |
          VERSION=$(grep "projectVersion" gradle.properties | cut -d'=' -f2)
          echo "::set-output name=version::$VERSION"
          echo "SPP_PLATFORM_VERSION=$VERSION" >> $GITHUB_ENV
          echo "SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}" >> $GITHUB_ENV
          SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}
          echo "::set-output name=release_version::$SPP_RELEASE_VERSION"

      - name: Set build version
        run: echo "BUILD_VERSION=$SPP_RELEASE_VERSION" >> $GITHUB_ENV

      - name: Build platform
        run: ./gradlew --no-daemon -p platform composeBuild -Dbuild.profile=release -PplatformVersion=$BUILD_VERSION -PprobeVersion=$BUILD_VERSION

      - name: Save platform image
        run: docker save $(docker image ls  | grep 'spp-platform' | awk '{print $1}') > spp-platform.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: spp-platform
          path: spp-platform.tar

  test-platform:
    if: ${{ !contains(github.event.pull_request.head.ref, '#docs') && !(startsWith(github.event.head_commit.message, 'Merge pull request') && contains(github.event.head_commit.message, '#docs')) }}

    needs: [ verify-mono, build-platform ]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-check-platform
      cancel-in-progress: true

    outputs:
      version: ${{ steps.properties.outputs.version }}
      release_version: ${{ steps.properties.outputs.release_version }}
    steps:
      - uses: docker-practice/actions-setup-docker@master
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Export Properties
        id: properties
        shell: bash
        run: |
          VERSION=$(grep "projectVersion" gradle.properties | cut -d'=' -f2)
          echo "::set-output name=version::$VERSION"
          echo "SPP_PLATFORM_VERSION=$VERSION" >> $GITHUB_ENV
          echo "SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}" >> $GITHUB_ENV
          SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}
          echo "::set-output name=release_version::$SPP_RELEASE_VERSION"

      - name: Set build version
        run: echo "BUILD_VERSION=$SPP_RELEASE_VERSION" >> $GITHUB_ENV

      - name: Download spp-platform image
        uses: actions/download-artifact@v2
        with:
          name: spp-platform
          path: .

      - name: Start spp-platform
        run: |
          docker load --input spp-platform.tar
          ./gradlew --no-daemon -p platform composeUp -x composeBuild

      - name: Docker IPs
        run: docker inspect --format='{{.Name}} - {{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $(docker ps -aq)
      - name: Set SPP_PLATFORM_HOST
        run: SPP_PLATFORM_HOST=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $(docker ps -aqf "name=spp-platform")) && echo "SPP_PLATFORM_HOST=$SPP_PLATFORM_HOST" >> $GITHUB_ENV

      - name: Get access token
        timeout-minutes: 5
        run: until $(curl --output /dev/null --silent --fail http://localhost:12800/api/new-token?access_token=change-me); do printf '.'; sleep 5; done && SPP_JWT_TOKEN=$(curl http://localhost:12800/api/new-token?access_token=change-me) && echo "SPP_JWT_TOKEN=$SPP_JWT_TOKEN" >> $GITHUB_ENV

      - name: Wait for platform
        timeout-minutes: 5
        run: |
          until $(curl --header "Authorization: Bearer ${{ env.SPP_JWT_TOKEN }}" --output /dev/null --silent --fail http://localhost:12800/health); do printf '.'; sleep 5; done

      - name: Build probe
        run: ./gradlew -p probes/jvm jar

      - name: Test platform
        run: ./gradlew -p platform test -Dtest.profile=integration

  test-probe-jvm:
    if: ${{ !contains(github.event.pull_request.head.ref, '#docs') && !(startsWith(github.event.head_commit.message, 'Merge pull request') && contains(github.event.head_commit.message, '#docs')) }}

    needs: [ verify-mono, build-platform ]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-check-probe-jvm
      cancel-in-progress: true

    outputs:
      version: ${{ steps.properties.outputs.version }}
      release_version: ${{ steps.properties.outputs.release_version }}
    steps:
      - uses: docker-practice/actions-setup-docker@master
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Export Properties
        id: properties
        shell: bash
        run: |
          VERSION=$(grep "projectVersion" gradle.properties | cut -d'=' -f2)
          echo "::set-output name=version::$VERSION"
          echo "SPP_PLATFORM_VERSION=$VERSION" >> $GITHUB_ENV
          echo "SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}" >> $GITHUB_ENV
          SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}
          echo "::set-output name=release_version::$SPP_RELEASE_VERSION"

      - name: Set build version
        run: echo "BUILD_VERSION=$SPP_RELEASE_VERSION" >> $GITHUB_ENV

      - name: Download spp-platform image
        uses: actions/download-artifact@v2
        with:
          name: spp-platform
          path: .

      - name: Start spp-platform
        run: |
          docker load --input spp-platform.tar
          ./gradlew --no-daemon -p platform composeUp -x composeBuild

      - name: Docker IPs
        run: docker inspect --format='{{.Name}} - {{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $(docker ps -aq)
      - name: Set SPP_PLATFORM_HOST
        run: SPP_PLATFORM_HOST=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $(docker ps -aqf "name=spp-platform")) && echo "SPP_PLATFORM_HOST=$SPP_PLATFORM_HOST" >> $GITHUB_ENV

      - name: Get access token
        timeout-minutes: 5
        run: until $(curl --output /dev/null --silent --fail http://localhost:12800/api/new-token?access_token=change-me); do printf '.'; sleep 5; done && SPP_JWT_TOKEN=$(curl http://localhost:12800/api/new-token?access_token=change-me) && echo "SPP_JWT_TOKEN=$SPP_JWT_TOKEN" >> $GITHUB_ENV

      - name: Wait for platform
        timeout-minutes: 5
        run: |
          until $(curl --header "Authorization: Bearer ${{ env.SPP_JWT_TOKEN }}" --output /dev/null --silent --fail http://localhost:12800/health); do printf '.'; sleep 5; done

      - name: Test probe-jvm
        run: ./gradlew -p probes/jvm assemble test -Dtest.profile=integration

  jvm-build:
    if: ${{ !contains(github.event.pull_request.head.ref, '#docs') && !(startsWith(github.event.head_commit.message, 'Merge pull request') && contains(github.event.head_commit.message, '#docs')) }}

    runs-on: ubuntu-latest
    timeout-minutes: 40
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    outputs:
      version: ${{ steps.properties.outputs.version }}
      release_version: ${{ steps.properties.outputs.release_version }}
    steps:
      - uses: docker-practice/actions-setup-docker@master
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Output JDK version
        run: java -version

      - name: Export Properties
        id: properties
        shell: bash
        run: |
          VERSION=$(grep "projectVersion" gradle.properties | cut -d'=' -f2)
          echo "::set-output name=version::$VERSION"
          echo "SPP_PLATFORM_VERSION=$VERSION" >> $GITHUB_ENV
          echo "SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}" >> $GITHUB_ENV
          SPP_RELEASE_VERSION=${VERSION/-SNAPSHOT/}
          echo "::set-output name=release_version::$SPP_RELEASE_VERSION"

      - name: Set build version (release)
        if: github.ref == 'refs/heads/master'
        run: |
          echo "BUILD_VERSION=$SPP_RELEASE_VERSION" >> $GITHUB_ENV

      - name: Set build version (non-release)
        if: github.ref != 'refs/heads/master'
        run: |
          echo "BUILD_VERSION=$SPP_PLATFORM_VERSION" >> $GITHUB_ENV

      - name: Start platform (release)
        if: github.ref == 'refs/heads/master'
        run: ./gradlew -p platform assembleUp -Dbuild.profile=release -PplatformVersion=$BUILD_VERSION -PprobeVersion=$BUILD_VERSION

      - name: Start platform (non-release)
        if: github.ref != 'refs/heads/master'
        run: ./gradlew -p platform assembleUp -PplatformVersion=$BUILD_VERSION -PprobeVersion=$BUILD_VERSION

      - name: Docker IPs
        run: docker inspect --format='{{.Name}} - {{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $(docker ps -aq)
      - name: Set SPP_PLATFORM_HOST
        run: SPP_PLATFORM_HOST=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $(docker ps -aqf "name=spp-platform")) && echo "SPP_PLATFORM_HOST=$SPP_PLATFORM_HOST" >> $GITHUB_ENV

      - name: Get access token
        timeout-minutes: 5
        run: until $(curl --output /dev/null --silent --fail http://localhost:12800/api/new-token?access_token=change-me); do printf '.'; sleep 5; done && SPP_JWT_TOKEN=$(curl http://localhost:12800/api/new-token?access_token=change-me) && echo "SPP_JWT_TOKEN=$SPP_JWT_TOKEN" >> $GITHUB_ENV

      - name: Wait for platform
        timeout-minutes: 5
        run: |
          until $(curl --header "Authorization: Bearer ${{ env.SPP_JWT_TOKEN }}" --output /dev/null --silent --fail http://localhost:12800/health); do printf '.'; sleep 5; done

      - name: Check platform
        run: ./gradlew -p platform check -Dtest.profile=integration -PplatformVersion=$BUILD_VERSION -PprobeVersion=$BUILD_VERSION

      - run: ./gradlew :platform:composeLogs
        if: ${{ always() }}

      - name: Upload docker logs artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: docker-logs
          path: ./platform/build/containers-logs

      - name: Upload test-live-instrument.log artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: test-live-instrument.log
          path: /tmp/spp-probe/logs/test-live-instrument.log

      - name: Upload test-live-view.log artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: test-live-view.log
          path: /tmp/spp-probe/logs/test-live-view.log

      - name: Make distribution
        if: github.ref == 'refs/heads/master'
        run: ./gradlew makeDist -Dbuild.profile=release -PplatformVersion=$BUILD_VERSION

      - name: Upload spp-platform
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v3
        with:
          name: spp-platform-${{ env.BUILD_VERSION }}.tar.gz
          path: ./dist/spp-platform-${{ env.BUILD_VERSION }}.tar.gz

      - name: Remove Old Snapshot Packages
        if: github.ref == 'refs/heads/master'
        uses: smartsquaregmbh/delete-old-packages@v0.6.0
        with:
          keep: 0
          version-pattern: "^\\d+\\.\\d+\\.\\d+-SNAPSHOT$"
          names: |
            plus.sourceplus.platform.platform-bridge
            plus.sourceplus.platform.platform-common
            plus.sourceplus.platform.platform-core
            plus.sourceplus.platform.platform-storage
            plus.sourceplus.platform.live-instrument-processor
            plus.sourceplus.platform.live-view-processor

      - name: Publish New Snapshot Packages
        if: github.ref == 'refs/heads/master'
        run: ./gradlew -p platform publish -Dbuild.profile=release
        env:
          GH_PUBLISH_USERNAME: $GITHUB_ACTOR
          GH_PUBLISH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  releaseDraft:
    name: Release Draft
    needs: [ jvm-build ]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:

      - name: Remove Old Release Drafts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -H "Authorization: Bearer $GITHUB_TOKEN" https://api.github.com/repos/$GITHUB_REPOSITORY/releases \
            | tr '\r\n' ' ' \
            | jq '.[] | select(.draft == true) | .id' \
            | xargs -I '{}' \
          curl -X DELETE -H "Authorization: Bearer $GITHUB_TOKEN" https://api.github.com/repos/$GITHUB_REPOSITORY/releases/{}

      - name: Create Release Draft
        id: createDraft
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.jvm-build.outputs.release_version }}
          release_name: v${{ needs.jvm-build.outputs.release_version }}
          body: ${{ needs.build.outputs.changelog }}
          draft: true

      - name: Download spp-platform artifact
        uses: actions/download-artifact@v3
        with:
          name: spp-platform-${{ needs.jvm-build.outputs.release_version }}.tar.gz

      - name: Upload spp-platform asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.createDraft.outputs.upload_url }}
          asset_path: ./spp-platform-${{ needs.jvm-build.outputs.release_version }}.tar.gz
          asset_name: spp-platform-${{ needs.jvm-build.outputs.release_version }}.tar.gz
          asset_content_type: application/gzip

  docker-push:
    needs: [ jvm-build ]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Download spp-platform artifact
        uses: actions/download-artifact@v3
        with:
          name: spp-platform-${{ needs.jvm-build.outputs.release_version }}.tar.gz
          path: ./docker/spp-platform

      - name: Untar spp-platform
        run: cd ./docker/spp-platform && tar -zxvf spp-platform-${{ needs.jvm-build.outputs.release_version }}.tar.gz --strip-components=1

      - name: Copy ui-initialized-templates to spp-platform Docker image
        run: cp -r ./docker/e2e/config/ui-initialized-templates ./docker/spp-platform

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        run: docker buildx create --use --platform linux/arm64,linux/amd64 --driver-opt=network=host

      - name: Build & push spp-platform latest Docker image
        run: cd ./docker/spp-platform && docker buildx build . --platform linux/arm64,linux/amd64 --file Dockerfile --tag sourceplusplus/spp-platform:latest --push

      - name: Trigger demo.sourceplus.plus deploy
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.REPO_DISPATCH_ACCESS_TOKEN }}
          event-type: deploy-demo

  # Delete build artifacts
  cleanup:
    needs: [ jvm-build, releaseDraft, docker-push ]
    runs-on: ubuntu-latest

    steps:
      - name: Delete spp-platform
        uses: geekyeggo/delete-artifact@v2
        with:
          name: spp-platform-${{ needs.jvm-build.outputs.release_version }}.tar.gz
